services:
  bot:
    build: ../
    environment:
      # you will need to set these two env vars prior to running the deployment.
      - DISCORD_TOKEN=<put your token here>
      - REDIS_PASS=<put a password here>
      # no need to change these.
      - GOMANIP_URL=http://gomanip:8080
      - CLASSIFICATION_URL=http://classification:8081
      - DATABASE_DSN=redis:6379
      - RANDOM_WORD_SET_NAME=words 
      - REDIS_SET_NUM=0
      # if you are getting timeout errors, increase these variables
      - GOMANIP_TIMEOUT=30s
      - CLASSIFICATION_TIMEOUT=5m
    networks:
      - network
    restart: "yes"

  gomanip:
    build: ../services/GoManip/
    networks:
      - network
    restart: "yes"
  redis:
    image: "redis:alpine"
    mem_limit: "2048m"
    command: ["redis-server", "--save", "120", "1"]
    networks:
      - network

  init-shared_volume_permissions:
    image: busybox
    command: ["sh", "-c", "chown -R 100:101 /app/shared"]
    volumes:
      - shared-data:/app/shared
    restart: "no"

  worker-data:
    image: "redis:alpine"
    mem_limit: "2048m"
    command: [ "redis-server", "--save", "120", "1" ]
    networks:
      - network
    restart: "yes"

  classification:
    build:
      context: ../services/Ml/Classification
      dockerfile : Dockerfile.fastapi
    networks:
      - network
    depends_on:
      - init-shared_volume_permissions
    volumes:
      - shared-data:/app/shared
    restart: "yes"

  classification-worker:
    build:
      context: ../services/Ml/Classification
      dockerfile : Dockerfile.backend
    networks:
      - network
    depends_on:
      - init-shared_volume_permissions
    volumes:
      - shared-data:/app/shared
    restart: "yes"

networks:
  network:
    driver: bridge

volumes:
  redis_data:
  shared-data:

