services:
  bot:
    image: trolllemon/discordbot:v0.1.0
    environment:
      # you will need to set these two env vars prior to running the deployment.
      - DISCORD_TOKEN=<put your token here>
      - REDIS_PASS=<put a password here>
      # no need to change these.
      - GOMANIP_URL=http://gomanip:8080
      - CLASSIFICATION_URL=http://classification:8081
      - DATABASE_DSN=redis:6379
      - RANDOM_WORD_SET_NAME=words 
      - REDIS_SET_NUM=0
      # if you are getting timeout errors, increase these variables
      - GOMANIP_TIMEOUT=30s
      - CLASSIFICATION_TIMEOUT=5m
    networks:
      - network
    restart: "always"

  gomanip:
    image: trolllemon/gomanip:v0.1.0
    command: ["--pretty_print", "--num_workers", "4"]
    networks:
      - network
    restart: "always"
  redis:
    image: "redis:alpine"
    mem_limit: "2048m"
    command: ["redis-server", "--save", "120", "1"]
    networks:
      - network

  init-shared_volume_permissions:
    image: busybox
    command: ["sh", "-c", "chown -R 100:101 /app/shared"]
    volumes:
      - shared-data:/app/shared
    restart: "no"

  worker-data:
    image: "redis:alpine"
    mem_limit: "2048m"
    command: [ "redis-server", "--save", "120", "1" ]
    networks:
      - network
    restart: "always"

  classification:
    image: trolllemon/classification-api:v0.1.0
    networks:
      - network
    depends_on:
      - init-shared_volume_permissions
    volumes:
      - shared-data:/app/shared
    restart: "always"

  classification-worker:
    image: trolllemon/classification-backend:v0.1.0
    networks:
      - network
    depends_on:
      - init-shared_volume_permissions
    volumes:
      - shared-data:/app/shared
    restart: "always"

networks:
  network:
    driver: bridge

volumes:
  redis_data:
  shared-data:

