name: CI
permissions:
  contents: read
  pull-requests: write
on: 
  pull_request:
    branches:
      - develop

jobs:
  test-bot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.x' ]
    
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
            go-version-file: './bot/go.mod'
            cache: true
      - name: Vet go packages
        run:  make vet 
      - name: run tests 
        run:  make test-bot
  test-gomanip:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.x' ]
    
    steps: 
      - uses: actions/checkout@v4
      
      # because gomanip uses GoCV, which needs OpenCV, we have to use the container environment with Opencv 
      # to build it.
      - name: Build gomanip container 
        uses: docker/build-push-action@v5
        with:
          context: ./gomanip
          target: tester
          tags: gomanip-test
      - name: Run the GoManip docker image tests
        run: docker run --rm gomanip-test
  
  test-classification:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13' 
    - name: install deps 
      run: pip install --no-cache-dir -r  backend_requirements.txt
      working-directory: ./classification
    - name: install pytest  
      run: pip install --no-cache-dir pytest
      working-directory: ./services/Ml/Classification/
    - name: run tests 
      run: pytest -v 
      working-directory: ./services/Ml/Classification/



